@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: #F7F7F7;
}

:root {
  --light-green:#4DD3BE;
  --darker-green:#2b9482;
  --white:#fff;
  --black:#000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 920px) {
  .container {
    margin: 0 10px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -webkit-animation: fadeIn 1.4s forwards;
          animation: fadeIn 1.4s forwards;
}

.nav .burger div {
  width: 1.563rem;
  height: 0.188rem;
  background: var(--white);
  margin: 0.313rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  z-index: 999999;
  display: none;
  position: relative;
}

@media only screen and (max-width: 920px) {
  .nav .burger div {
    display: block;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.nav .logo {
  width: 120px;
  cursor: pointer;
}

.nav i.fa-magnifying-glass {
  color: var(--light-green);
  cursor: pointer;
}

@media only screen and (max-width: 920px) {
  .nav i.fa-magnifying-glass {
    display: none;
  }
}

.nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
}

@media only screen and (max-width: 920px) {
  .nav .navbar {
    background-color: var(--darker-green);
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    padding-top: 3.5rem;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .nav .navbar ul li {
    margin: 50px 0;
    padding: 14px 16px;
  }
}

.nav .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav .navbar ul li {
  margin: 0 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav .navbar ul li:hover {
  color: var(--light-green);
}

.nav .nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .dropdown {
  float: left;
}

.nav .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--white);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav .dropdown-content a:hover {
  border-left: 2px solid var(--light-green);
  color: var(--light-green);
}

.nav .dropdown:hover .dropdown-content {
  display: block;
}

header {
  background: url("/images/jellyfish.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  color: var(--white);
}

header .content {
  margin-top: 10rem;
  -webkit-animation: introLoad 1.9s forwards;
          animation: introLoad 1.9s forwards;
}

header .content h1 {
  font-size: 2.5em;
  font-weight: 500;
}

header .content p {
  margin-top: 10px;
  font-size: 1.4em;
  font-weight: 300;
  width: 500px;
}

@media only screen and (max-width: 920px) {
  header .content p {
    width: 430px;
  }
}

@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}

@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}

.more {
  margin-top: 25px;
  background-color: transparent;
  border: 2px solid var(--light-green);
  color: var(--light-green);
  font-size: 1em;
  padding: 10px 40px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.more:hover {
  background-color: var(--light-green);
  color: var(--white);
}

.about {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  position: relative;
  color: var(--white);
  background: -webkit-gradient(linear, right top, left bottom, color-stop(40%, var(--light-green)), color-stop(40%, var(--darker-green)));
  background: linear-gradient(to left bottom, var(--light-green) 40%, var(--darker-green) 40%);
}

.about svg {
  position: absolute;
  bottom: 0;
}

.about .about-content {
  margin-top: 5rem;
  position: relative;
  z-index: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media only screen and (max-width: 920px) {
  .about .about-content {
    margin-top: 7rem;
  }
}

.about .about-content h1 {
  font-size: 2.5em;
  font-weight: 500;
  width: 250px;
}

.about .about-content p {
  margin-top: 10px;
  font-size: 1.4em;
  font-weight: 300;
  width: 500px;
}

@media only screen and (max-width: 920px) {
  .about .about-content p {
    width: 450px;
  }
}

.about .about-content .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
}

.about .about-content .grid .jobs {
  width: 80px;
}

@media only screen and (max-width: 920px) {
  .about .about-content .grid .jobs {
    display: none;
  }
}

.about .about-content .grid .jobs h1 {
  font-size: 3.5em;
}

.more-white {
  margin-top: 25px;
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 1em;
  padding: 10px 40px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.more-white:hover {
  background-color: var(--white);
  color: var(--black);
}

.sectors {
  min-height: 100vh;
  background-color: var(--white);
}

.sectors .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.sectors .title h1 {
  text-transform: capitalize;
}

.sectors .title h1, .sectors .title p {
  width: 70%;
  margin-bottom: 1rem;
}

.sectors .sectors-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}

.sectors .sectors-container .sectors-content {
  height: 300px;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
}

.sectors .sectors-container .sectors-content .heading {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100px;
  padding: 20px;
}

.sectors .sectors-container .sectors-content h2 {
  color: var(--white);
  text-transform: capitalize;
}

.sectors .sectors-container .sectors-content p {
  color: var(--light-green);
  cursor: pointer;
}

.sectors .sectors-container .sectors-content:nth-child(1) {
  background: url("/images/caspar-camille-rubin-7SDoly3FV_0-unsplash.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.sectors .sectors-container .sectors-content:nth-child(2) {
  background: url("/images/libby-penner-8zsBofKrhP8-unsplash.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.sectors .sectors-container .sectors-content:nth-child(3) {
  background: url("/images/adi-goldstein-EUsVwEOsblE-unsplash.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.sectors .sectors-container .sectors-content:nth-child(4) {
  background: url("/images/headway-5QgIuuBxKwM-unsplash.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.sectors .sectors-container .sectors-content:nth-child(5) {
  background: url("/images/ugur-arpaci-R0PQPg6BXHU-unsplash.png") no-repeat;
}

.sectors .sector-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.sectors .sector-container .sector-content {
  height: 470px;
  margin: 3rem 0;
}

.sectors .sector-container .sector-content:nth-child(1) {
  background: url("/images/ugur-arpaci-R0PQPg6BXHU-unsplash.png") no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
}

.sectors .sector-container .sector-content:nth-child(2) h1 {
  font-size: 2.5em;
  font-weight: 500;
  text-transform: capitalize;
}

.sectors .sector-container .sector-content:nth-child(2) p {
  margin-top: 1rem;
}

.sectors .sector-container .sector-content:nth-child(2) p span {
  color: var(--light-green);
  text-decoration: underline;
}

.sectors .sector-container .sector-content:nth-child(2) ul {
  list-style: none;
  padding: 0;
}

.sectors .sector-container .sector-content:nth-child(2) ul li {
  margin: 10px 0;
}

.sectors .sector-container .sector-content:nth-child(2) ul li::before {
  content: ">";
  margin-right: 0.5rem;
  color: var(--light-green);
}

.clients {
  background: url("/images/Group 61.png") no-repeat;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  color: var(--white);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients h1 {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients .slider {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 0;
  height: 200px;
  overflow: hidden;
}

.clients .slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  gap: 10px;
  pointer-events: none;
  -webkit-transition: 0s ease-in-out;
  transition: 0s ease-in-out;
}

.clients .slider .slider-inner .slider-content {
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 920px) {
  .clients .slider .slider-inner .slider-content {
    width: 200px;
  }
}

.product {
  position: relative;
  background: url("/images/MicrosoftTeams-image (1).png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .latest-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
}

.product .latest-title h1, .product .latest-title button {
  margin: 0 0 4rem 0;
}

.product .product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.product .product-container::-webkit-scrollbar {
  display: none;
}

.product .product-card {
  background-color: var(--white);
  margin-right: 40px;
  height: 400px;
}

.product .product-card .jobs-content {
  border: 1px solid var(--white);
  margin-top: 3rem;
}

.product .product-card .desc {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product .product-card .desc i {
  color: var(--darker-green);
  margin: 0 10px 0 0;
}

.product .product-card .desc span {
  margin: 10px 0;
}

.product .product-card .desc a {
  margin: 15px 0;
  color: var(--darker-green);
  text-decoration: none;
}

.product .product-card .desc a:hover {
  text-decoration: underline;
}

.product .product-info {
  width: 100%;
  height: 100px;
  color: #000;
}

.product .product-info .job-title {
  color: var(--white);
  background-color: var(--darker-green);
  font-size: 1em;
  padding: 15px;
  text-transform: capitalize;
  width: 400px;
}

.product .product-info .job-title h3 {
  width: 60%;
}

.product .product-brand {
  text-transform: uppercase;
}

.product .pre-btn,
.product .nxt-btn {
  border: none;
  height: 100%;
  position: absolute;
  font-size: 2rem;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 8;
  color: var(--darker-green);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.product .pre-btn:hover,
.product .nxt-btn:hover {
  opacity: 0.8;
}

.product .pre-btn {
  left: 30px;
}

.product .nxt-btn {
  right: 30px;
}

.careers {
  background: url("/images/Group 62.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--white);
}

.careers .careers-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
}

.careers .careers-content h1 {
  font-size: 2.5em;
  font-weight: 500;
  width: 700px;
}

.careers .careers-content p {
  margin-top: 10px;
  font-size: 1.4em;
  font-weight: 300;
  width: 700px;
}

@media only screen and (max-width: 920px) {
  .careers .careers-content h1 {
    width: 500px;
    padding-top: 3rem;
  }
  .careers .careers-content p {
    width: 500px;
  }
}

.news {
  background-color: #F7F7F7;
}

.news .latest-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .latest-title h1, .news .latest-title button {
  margin-top: 3rem;
}

@media only screen and (max-width: 920px) {
  .news .latest-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news .news-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  position: relative;
}

.news .news-container .news-content {
  background-color: var(--white);
  margin-top: 3rem;
}

.news .news-container .news-content .info {
  padding: 20px;
}

.news .news-container .news-content h2 {
  margin-bottom: 1.2rem;
}

.news .news-container .news-content p {
  margin-bottom: 2rem;
}

.news .news-container .news-content img {
  width: 100%;
}

.news .news-container .news-content:nth-child(2) {
  height: 300px;
}

.news .news-container .news-content:nth-child(4) {
  height: 300px;
}

@media only screen and (min-width: 1300px) {
  .news .news-container .news-content:nth-child(5) {
    position: absolute;
    width: 387px;
    left: 33.9%;
    top: 28%;
  }
}

.question {
  background-color: #F7F7F7;
  margin-top: 5rem;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 35vh;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(50%, var(--light-green)), color-stop(50%, var(--darker-green)));
  background: linear-gradient(to left bottom, var(--light-green) 50%, var(--darker-green) 50%);
}

.questions .questions-content {
  color: var(--white);
  text-align: center;
}

.questions .questions-content h2 {
  font-weight: 500;
}

.questions .questions-content button {
  margin-top: 2.5rem;
}

footer {
  background-color: var(--darker-green);
  min-height: 50vh;
  margin-top: 8rem;
  color: var(--white);
}

footer .footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

footer .footer-container .footer-content:nth-child(1) span {
  margin: 0 10px;
}

footer .footer-container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
}

footer .footer-container .footer-content p {
  margin-top: 20px;
}

@media only screen and (max-width: 920px) {
  footer .footer-container .footer-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

footer .footer-container .footer-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

@media only screen and (max-width: 920px) {
  footer .footer-container .footer-content form {
    margin-bottom: 2rem;
  }
}

footer .footer-container .footer-content form input {
  padding: 10px 20px;
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
}

footer .footer-container .footer-content form input::-webkit-input-placeholder {
  color: var(--white);
}

footer .footer-container .footer-content form input:-ms-input-placeholder {
  color: var(--white);
}

footer .footer-container .footer-content form input::-ms-input-placeholder {
  color: var(--white);
}

footer .footer-container .footer-content form input::placeholder {
  color: var(--white);
}

footer .footer-container .footer-content .fa-envelope {
  background-color: var(--white);
  color: var(--light-green);
  font-size: 1.5em;
  padding: 7px 20px;
  cursor: pointer;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin: 10px 0;
  cursor: pointer;
}

footer ul li:hover {
  text-decoration: underline;
}

footer .social-footer i {
  font-size: 1.5em;
  margin: 0 5px;
  cursor: pointer;
}

.footer-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272727;
  color: #5c5c5c;
}

.footer-two .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.footer-two .footer p {
  margin: 0 30px;
}

@media only screen and (max-width: 920px) {
  .footer-two .footer {
    min-height: 30vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-two .footer p {
    margin: 20px;
  }
}

.footer-two i {
  margin: 0 10px;
}

.reveal {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: all 1.6s ease;
  transition: all 1.6s ease;
}

.reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */